@using Collections.DAL.Entities.Enums
@using Collections.Models.Item
@model Collections.Models.Item.ItemViewModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div class="container-fluid p-2 border br-50 border-light">
    <div class="d-inline-flex">
        <a asp-action="Delete" id="@Model.Id" class="p-2">Delete</a>
        <a asp-action="Edit" asp-route-id="@Model.Id" class="p-2">Edit</a>
    </div>
    <div>
        <div class="form-group">
            <label asp-for="Name" class="font-weight-bold"></label> :@Html.DisplayTextFor(x => x.Name)
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Tags" class="font-weight-bold"></label>
        <div>
            @foreach (var tag in Model.Tags)
            {
                <span class="badge p-2 ml-1 mb-1 @TagModel.RandomBadgeStyleClass ">@tag.Name</span>
            }
        </div>
    </div>
    @foreach (var fields in Model.Fields.GroupBy(x => x.Field.Type))
    {
        if (fields.Key == FieldType.Boolean)
        {
            <div class="d-flex flex-wrap row">
                @foreach (var field in fields)
                {
                    <partial name="Item/_ItemFieldChBox" model="field" />
                }
            </div>
        }
        else
        if (fields.Key == FieldType.Text || fields.Key == FieldType.MultilineText)
        {
            <div class="d-flex flex-wrap row">
                @foreach (var field in fields)
                {
                    <partial name="Item/_ItemFieldText" model="field" />
                }
            </div>
        }
        else
        if (fields.Key == FieldType.Date || fields.Key == FieldType.DateTime)
        {
            <div class="d-flex flex-wrap row">
                @foreach (var field in fields)
                {
                    <partial name="Item/_ItemFieldText" model="field" />
                }
            </div>
        }
    }

    @if (User?.Identity?.IsAuthenticated ?? false)
    {

        <div class="form-group mt-3 p-1">
            <p>
                <h3>Comments</h3>
            </p>
            <div class="row p-1">
                <div class="col-6">
                    <textarea id="@Model.Id" class="form-control" required name="comment"></textarea>

                </div>
            </div>
            <button id="submit-comment" class="btn btn-primary">Send</button>
        </div>
        <div class="m-2 p-2">
            <div id="comments-box">
            </div>
        </div>
        <script>
        var itemId = @Model.Id
        var commentsBox = $('#comments-box')
        $(document).ready(() => {
            axios.post(origin + '/comment/all/' +itemId)
                .then(res => commentsBox.html(res.data));
            $('#submit-comment')[0].onclick = e => {
                if (e.target.value && e.target.$dirty()) {
                    const val = e.target.value
                    e.disabled = true
                    axios.post(origin + '/comment',
                            {
                                text: val,
                                date: new Date(),
                                itemId
                            })
                        .then(res => {
                            e.disabled = false
                            commentsBox[0].innerHTML += res.data
                        }).catch(er => {
                            e.disabled = false
                            return er
                        })
                }
            }
        })
        </script>
    }
</div>
