@model global::Collections.Models.Collection.CollectionCreateViewModel
@{
    ViewBag.Title = "Create collection";
    Layout = "_Layout";
}
<div>
    <div>
        <div class="form-group">
            <label for="title">title</label>
            <input type="text" class="form-control" id="title" placeholder="Type title">
        </div>
        <div class="form-group">
            <label class="title" for="theme"> Theme </label>
            <select name="themeService" class="form-control" id="theme">
                <option selected="@true" value="@Model.Themes[0].Id"> @Model.Themes[0].Name </option>
                @foreach (var theme in Model.Themes.ToArray()[1..])
                {
                    <option value="@theme.Id"> @theme.Name </option>
                }
            </select>
        </div>
        <partial name="Collection/_ImageWithPrev" model="string.Empty" />
        <partial name="_DescriptionMarkdownInput" model="string.Empty"/>
        <div class="form-group" id="customfields">
            <label for="additor" class="title">Custom fields</label>
            <a class="btn btn-light" id="additor">Add field</a>
        </div>
        <button class="btn btn-primary" id="post-submit"> Submit </button>
    </div>

    <div hidden class="row customfield mt-1" id="customfield">
        <div class="col">
            <select class="form-control" name="fieldType" required placeholder="Select type">
                @foreach (var type in Model.Types)
                {
                    <option value="@type">@type</option>
                }
            </select>
        </div>
        <div class="col">
            <input type="text" name="fieldName" class="form-control" placeholder="Field name">
        </div>
    </div>
</div>
<script>
    $("#post-submit")[0].onclick = collectionCreateSubmit;
    $('#additor')[0].onclick = fieldCreator($('#customfield'), $('#customfields'));
</script>