@model Collections.Models.Collection.CollectionDetailsModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div class="row d-flex flex-nowrap">
    <div class="col">
        <img src="@Model.Image" alt="Alternate Text" style="width: 200px" class="figure-img" />
    </div>
    <div class="col-9">
        <div class="row">
            <h5>Title: @Model.Title</h5>
        </div>
        <div class="row">
            <span><b>Theme:</b> @Model.Theme.Name</span>
        </div>
        <div class="row">
            <b>Description:</b>  <br />
            <markdown class="text-center">@Model.Description</markdown>
        </div>
    </div>
</div>

<div class="row mt-2 mb-2">
    @if (ViewData["HasPermissions"] as bool? ?? false)
    {

        <a asp-controller="Item" asp-action="Create" asp-route-collectionId="@Model.Id" class="btn page-link row p-1 mr-1">Add item</a>
        <a asp-controller="Collection" asp-action="Edit" asp-route-id="@Model.Id" class="btn page-link row p-1 mr-1">Edit collection</a>
        <a asp-action="Delete" asp-controller="Collection" class="btn page-link row p-1 mr-1" id="delete-collection">Delete collection</a>
    }
</div>

<table class="table">
    <thead>
        <tr class="row">
            <th class="col-1">Id</th>
            <th class="col-3">Name</th>
            <th class="col-2">Tags</th>
            @foreach (var field in Model.Fields)
            {
                <th class="col">@field.Name</th>
            }
        </tr>
    </thead>
    <tbody id="collection-items">
    </tbody>
</table>
<script>
    $(document).ready( function () {
        axios.post(location.origin + "/item/byCollection/@Model.Id").then(function({ data }) {
            $('#collection-items').html(data)
        })
    })
</script>
