@using Collections.Models.Item
@model IEnumerable<Collections.Models.Item.ItemViewModel>

@foreach (var item in Model)
{
    <tr class="row">
        <td class="col-1"> @item.Id</td>
        <td class="col-3"> @item.Name</td>
        <td class="d-flex flex-wrap col-2">
            @foreach (var tag in item.Tags)
            {
                <span class="badge @(TagModel.RandomBadgeStyleClass) p-2 ml-1 mt-1">@tag.Name</span>
            }
        </td>
        @foreach (var field in item.Fields)
        {
            <td class="col">@field.Value</td>
        }
        <td><a href="~/Item/Details/@item.Id">More >></a></td>
    </tr>
}