@model global::Collections.Models.UserInfoWithRolesModel


<tr>
    <td>
        <input type="checkbox" class="checkbox checkbox-a-u" name="id" value="@Model.Id" />
    </td>
    <td>@Model.Id</td>
    <td>@Model.UserName</td>
    <td>@Model.Email</td>
    <td>
        @foreach (var role in @Model.Roles)
        {
            <div class="badge badge-primary">
                @role.Name
                @*<a class="" asp-page="/admin/users" asp-page-handler="RemoveRole">

                    </a>*@
            </div>
        }
    </td>
</tr>